.container {
    position: relative;
    width: 300px;
    &__input{
        margin: 0;
        padding: 0;
        display: flex;
        border-width: 1px;
        border-style: inset;
        border-color: black;
        border-image: initial;
        &__field {
            border: none;
            width: 96%;
            padding: 10px;
            outline: none;
        }

        &__button {
            cursor: pointer;
            background-color: white;
            border: none;
            outline: none;
            padding: 0 10px 0 0;
        }
    }
    &__options {
        z-index: 100;
        position: absolute;
        background-color: white;
        max-height: 300px;
        overflow: auto;
        width: 161px;
        margin: 8px 0 0 0;
        padding: 0;
        border: 1px solid #DBDBE3;
        border-radius: 2px 2px 0px 0px;
        
        li {
            list-style-type: none; 
            padding: 10px;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            cursor: pointer;
        }
        :not(:last-child) {
            border-bottom: 1px solid #DBDBE3;
            border-radius: 2px 2px 0px 0px;
        }
    }
}

.open {
    transform: rotate(180deg);
    padding: 0 0 0 10px;
}