.container {
    position: relative;
    &__input {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-width: 1px;
        border-style: inset;
        border-color: black;
        border-image: initial;
        background-color: white;
        width: 100%;
        text-align: left;
    }
    &__icon {

    }
    &__placeholder {
        color: grey;
    }
    &__input:focus-visible {
        padding: 10px;
        border-width: 1px;
        border-style: inset;
        border-color: black;
        border-image: initial;
        outline: none;
    }

    &__options {
        position: absolute;
        background: white;
        width: 161px;
        margin: 8px 0 0 0;
        padding: 0;
        border: 1px solid #DBDBE3;
        border-radius: 2px 2px 0px 0px;
        
        li {
            list-style-type: none; 
            padding: 10px;
            text-align: left;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
        }
        :not(:last-child) {
            border-bottom: 1px solid #DBDBE3;
            border-radius: 2px 2px 0px 0px;
        }
    }
}

.open {
    transform: rotate(180deg);
}