.container {
    width: 98vw;
    height: 100vh;
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
    &__header {
        color: black;
        font-family: 'Montserrat',Arial,sans-serif;
        font-weight: 600;
        font-size: 42px;
        width: 70%;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: black;
        &__button {
            margin: 10px 0;
            width: 70%;
            max-width: 500px;
            padding: 10px;
            color: white !important;
            background: black !important;
            border: none;
            height: 35px;
            background: none;
            color: inherit;
            cursor: pointer;
            outline: inherit;
        }
    }
    &__anotation {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 0 50px;
        color: grey;
        font-size: 15px;
        max-width: 80%;
    }
}

@media (max-width: 860px) {
    h1 {
        font-size: 32px !important;
    }
    .container {
        gap: 10px;
        &__header {
            font-size: 38px;
        }
        &__form {
            gap: 5px;
        }
    }
  }